{% include base_path %}

{% assign project_hightlights = page.project_hightlights %}

<div>
    {% for project in project_hightlights %}
        <div class="archive__item">
            <div class="archive__item-teaser">
                {% if project.image contains "mp4" %}
                <video width="320" height="240" loop autoplay preload muted>
                    <source src="{{ project.image | prepend: "/images/" | prepend: base_path }}">
                    Your browser does not support the video tag.
                </video>
                {% else %}
                <img src="{{ project.image | prepend: "/images/" | prepend: base_path }}">
                {% endif %}
            </div>
            <div class="archive__item-body" style="text-align: center; text-decoration: none;">
                <h4 class="archive__item-title">{{ project.title }}</h4>
            </div>
        </div>
    {% endfor %}
</div>