{% include base_path %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}

<table>
    <tr>
        <td style="width: 300px">
            <img src=
              {% if post.image_path contains "://" %}
                "{{ post.image_path }}"
              {% else %}
                "{{ post.image_path | prepend: "/images/" | prepend: base_path }}"
              {% endif %}
            alt="{% if f.alt %}{{ f.alt }}{% endif %}"
            width=250px style="border: 2px solid black; float:left; margin-right:15px; border-radius: 20px;"
            >
        </td>
        <td>
            <div>
                <h2 style="margin-top: 10px; margin-bottom: 10px;">{{ title }}</h2>
                
                <div  style="margin-top: 10px; margin-bottom: 10px;">
                    <b style="color: #ffffff;">joseph selvaraaj</b>
                </div>
                <div  style="margin-top: 10px; margin-bottom: 10px;">
                    <a style="text-decoration: none;" href="{{ post.link }}" target="_blank">Paper <i class="fa fa-file"></i></a>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </td>
    </tr>
</table>